@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
    --gradient: linear-gradient(60deg, #43bece, #0256aa);
    --color-black: #333;
    --color-gray-dark: #555;
    --color-gray-light: #AAA;
    --color-white: #FFF;

    --header-size-max: 60vh;
    --header-size-min: 30vh;

    --border-radius: 6px;
    --padding: 10px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
}

div#main-container {
    padding: 40px 100px;
    min-height: 100vh;
    overflow-x: hidden;
    z-index: 0;
}

.center-x {
    text-align: center;
    margin: 0px auto;
    width: min-content;
}

.center-y {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.align-x {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: min-content;
    height: min-content;
}

span.shift {
    display: block;
    padding-left: 20px;
}

h1 {
    color: white;
    font-size: 60px;
}

h2 {
    color: var(--color-black);
    font-size: 24px;
    border-left: solid 4px var(--color-black);
    padding: 0px 14px;
    margin: 0px;
}

h3 {
    color: var(--color-black);
    font-size: 20px;
    text-decoration: underline 2px var(--color-black);
    margin: 0px;
}

p {
    font-size: 16px;
    color: var(--color-black);
    white-space: nowrap;
}

p.info {
    color: #666;
    font-size: 20px;
    text-align: center;
    padding: 0px 14px;
    margin: 0px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: var(--color-black);
    border-radius: 4px;
    color: white;
    padding: 3px 6px;
    width: min-content;
    height: min-content;
}

a {
    font-size: 16px;
    display: inline-block;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

footer {
    width: 100%;
    text-align: center;
    white-space: nowrap;
}