@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
    --gradient: linear-gradient(75deg, #43cea2, #185a9d);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
}

header {
    background: var(--gradient);
    background-attachment: fixed;
    background-size: 100vw 100vh;
    box-shadow: 0px 0px 14px #0004 inset;
    height: 180px;
    overflow: hidden;
}

div#content {
    padding: 20px 100px;
}

.center-x {
    text-align: center;
    margin: 0px auto;
    width: 100%;
}

.center-y {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

span.shift {
    display: block;
    padding-left: 20px;
}

h1 {
    color: white;
    font-size: 60px;
    text-shadow: 0px 4px 14px #0004;
}

h2 {
    color: #333;
    font-size: 24px;
    border-left: solid 4px #333;
    padding: 0px 14px;
    margin: 0px;
}

h3 {
    color: #333;
    font-size: 20px;
    text-decoration: underline 2px #333;
    margin: 0px;
}

p {
    font-size: 16px;
    color: #333;
}

p.info {
    color: #666;
    font-size: 20px;
    text-align: center;
    padding: 0px 14px;
    margin: 0px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #333;
    border-radius: 4px;
    color: white;
    padding: 3px 6px;
    width: min-content;
    height: min-content;
}

a {
    font-size: 16px;
    display: inline-block;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

footer {
    width: 100%;
    text-align: center;
    white-space: nowrap;
}